<h1>プロフィール</h1>

<%= @user.name %>
<%= image_tag @user.image.variant(resize_to_limit: [100,100]) if @user.image.attached? %>

<% @posts.each do |post| %>
  <%= render post %>
<% end %>

<%= will_paginate @posts, previous_label: "&lt 前へ", next_label: "次へ &gt" %>
